.link {
    text-decoration: none;
}
.media {
        width: 95%;
    }

.mark {
    position: absolute;
    top: 0;
    right:10px;
    font-size: 35px;
    background-color: transparent;
    color: green;
}

@media screen and (min-width: 480px){
    .media {
        width: 80%;
    }
}